
.root{
	-fx-background-color: #5F5;
}

.button{
	-fx-font-size:20pt;
	-fx-background-color: #5F5;
}
.label{
	-fx-font-size:20pt;
	-fx-background-color: #F00;
}

#diff-btn{
		-fx-font-size:20pt;
	-fx-background-color: #F00;
	
}